{% load i18n %}<div class="table-wrap">
  <table aria-labelledby="{{ title_id }}">
    <colgroup><col class="name"><col class="median"><col class="range"><col class="count"></colgroup>
    <thead><tr><th scope="col">{{ label }}</th><th scope="col" class="num">{% translate "Medián" %}</th><th scope="col" class="num">{% translate "Polovina hospod" %}</th><th scope="col" class="num">{% translate "Hospod s cenou" %}</th></tr></thead>
    <tbody>
      {% for area in areas %}<tr><th scope="row">{% if area.url %}<a href="{{ area.url }}">{{ area.name }}</a>{% else %}{{ area.name }}{% endif %}{% if area.mostly_stale %}<span class="stale">{% translate "hlavně ceny starší 3 měsíců" %}</span>{% endif %}</th><td class="num median">{{ area.median }} {% translate "Kč" %}</td><td class="num">{{ area.p25 }}–{{ area.p75 }} {% translate "Kč" %}</td><td class="num count">{{ area.pubs }}</td></tr>{% endfor %}
    </tbody>
  </table>
</div>
