<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic">
        <receiver
            android:name=".debug.DebugScenarioReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.tomasmach.na_pivo.DEBUG_WEAR_SCENARIO" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
